*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Phần giới thiệu */
/* #phan_tren img{
    width: 140px;
    margin-left: 50px;
    height: 80px;
}

#phan_tren{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#phan_tren .menubar li{
    display: inline-flex;
    padding: 10px 15px;
    position: relative;
    transition: 0.1s ease-in-out;
}

#phan_tren .menubar{
    width: 1000px;
    margin-left: auto;
    margin-top: 20px;
}

#phan_tren .menubar li:hover{
    font-size: 16px;
    transform: scale(1.2);
}

#phan_tren .menubar a{
    color: #374f8a;
} */

/*  */
.css_tinh_nav{
    background-color: rgba(170, 206, 231, 0.6);
}

header .main-menubox {
    display: none;
}

header .main-menu:hover .main-menubox{
    display: block;
}


header .dropdown-submenu{
    position: relative;
}

header .dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
header .dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }

    .dropdown-menu{ left: -131%;}
}

header .dropdown-submenu a::after {
    right: 16px;
    top: 42%;
}

header .dropdown-item {
    padding: 8px 18px;
}

header .dropdown-item{
    white-space: normal
}

header .navbar-expand-lg .navbar-nav .dropdown-menu {
    font-size: 14px;
}

header .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dcdcdc;
}

header li.nav-item{    
    padding: 10px 20px;
}

header .navbar-nav.ml-auto {
    margin-left: auto !important;
}

header .btn-fix{
    padding: 2px 8px;
}

header .menu-drop{
    width: 210px;
}

/* .dropdown-submenu {
    position: relative;
  }
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
} */

/* Kết thúc phần trên */


/* 
#374f8a: mau xanh 
#df0218: mau do
#fed014: mau vang
*/
